<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/class.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Class</title>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">

      <div class="top">
        <div class="text-contain">
          <h1><%= selectClass %> 분반</h1></br>
          <h2>관심이 가는 프로젝트를 선택해 보세요</h2>
        </div>
      </div>

      <div class="project_wrap">
        <% for (var i=1;i<=10;i++){%><!--  여기 10개로 설정했으나 프로젝트 개수 연결 필요 -->
          <a href="/class/team/<%= i %>">
          <div class="project_box">
            <!-- <div class="project_con"> -->
              <div class="thumbnail">
                <img src="/img/1.png" alt="" />
              </div>
              <div class="project_text">
                <div class="title_wrap">
                  <h1>[햄복어] 햄버거 칼로리 계산기</h1>
                  <h2>김동호 김보민 방건우 정소연 하유진</h2>
                </div>
                <div class="hashtag_wrap">
                  <span>#칼로리 #햄버거 #계산기 #헬창 #운동</span></br>
                  <span><%= selectClass %></span>
                </div>
              </div>
            <!-- </div> -->
          </div>
          </a>
        <%}%>
      </div>
        

    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script>
    </script>
  </body>
</html>