<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/class.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Class</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">

      <div class="top">
        <div class="text-contain">
          <h1><%= selectClass %> </h1></br>
          <h2>관심이 가는 프로젝트를 선택해 보세요</h2>
        </div>
      </div>

      <div class="project_wrap">
         
        <% projectList.forEach(function(list, index){ %>
          <a href="/team/<%= selectClass%>/<%= index+1%>/team=<%=list.team_name%>
            /project=<%= list.project_name %>">
            <div class="project_box">
              <div class="thumbnail">
                <img src="/img/1.png" alt="" />
              </div>
              <div class="project_con">
                <div class="project_text" id="project_text">
                 <h1>[<%= list.team_name %>] <%= list.project_name %></h1>
                 <% addList.forEach(listname => { %>
                  <% if (listname.project_id == index+1) { %>
                    <span><%= listname.name %>(<%=listname.class%>)</span>
           
                  <% } %>
                  <% }) %>
                </div>
                <div class="hashtag_wrap">
                  <% add2List.forEach(list2name => { %>
                    <% if (list2name.project_id == index+1) { %>
                      <span>#<%= list2name.hashtag %></span>
                    <% } %>
                <% }) %>
                </div>      
              </div>
            </div>
            </a>

        <% } ) %>
      
      </div>
        
    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>
    <script>
     
      // function movePage(select, idx){
      //   $.ajax({
      //     type:'POST',
      //     dataType:'text',  
      //     url:`/team/${select}/${idx}`,
      //     data:{
      //       "class":"2020",
      //     },
      //     error: function(){
      //           alert("에러가 발생했습니다");
      //       },
      //     success:function(data){
      //       console.log(data);
      //       res.send(data);
      //       window.location.href=`/team/${select}/${idx}`; 
            
      //     }

      //   });
    

    </script>
  </body>
</html>