<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Team</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
  <body>
    <% let cnt = result.good %>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">
    
      <div class="top">
        <div class="top-box">
          <div class="text_wrap">
            <p><%= result.team_name %></p>
            <h1>[ <%= result.project_name %> ] <%= %></h1>
            <h2><%= result.eachMembers %></h2>
            <h2>#<%= result.hashtag_name %></h2>
          </div>
          <button id="button1" onclick="toggleConfetti();">
              <i class="like old-class"><%= cnt %></i>
             
          </button>
        </div>
      </div>


      <div class="contents">

        <iframe width="800" height="450" src=<%= result.video_url %> frameborder="0" allowfullscreen></iframe>
        <iframe width="800" height="600" src=<%= result.pdf_url %> frameborder="0"></iframe>
    </div>

    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>
    <script>
       
    </script>
    <script src="/js/confetti.js"></script>
<script> 
      var click = 0;
      $("#button1").click(function() {
        if (!click){//조아요 +1
          click = 1;
          var audio = document.getElementById("audio");
          audio.play();
          console.log('<%= result.project_id %>');
          $(".like").removeClass('old-class').addClass('new-class');
          let selectCnt = $('.like').text();
           $('.like').text(++selectCnt);  
          $.ajax({
            type:'POST',
            url:"/good",
            dataType:'text', 
            data: {'project_id':'<%= result.project_id %>'}
            ,
            error: async function(){
                alert("에러가 발생했습니다.");
            },
            success:async function(data){
                const obj = JSON.parse(data);
                if(obj.status == 200){
                }else if(obj.status==201){
                  alert("에러가 발생했습니다.")
                }
            }
        });
        }
        else{//-1
          click = 0;
          $(".like").removeClass('new-class').addClass('old-class');
          $.ajax({
            type:'POST',
            url:"/bad",
            dataType:'text', 
            data: {'project_id':'<%= result.project_id %>'}
            ,
            error: async function(){
                alert("에러가 발생했습니다.");
            },
            success:async function(data){
                const obj = JSON.parse(data);
                if(obj.status == 200){
                }else if(obj.status==201){
                  alert("에러가 발생했습니다.")
                }
            }
        });
        }
      });
    </script>
     <audio id = "audio" src="/audio/confetti.mp3"></audio>
  </body>
</html>