<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Team</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">
    
      <div class="top">
        <div class="top-box">
          <div class="text_wrap">
            <p><%= arrInfo[3] %></p>
            <h1>[ <%= arrInfo[1] %> ] <%= arrInfo[0] %></h1>
            <h2><%= arrInfo[2] %></h2>
          </div>
          <button id="button1" onclick="toggleConfetti();">
              <i class="like old-class"> 1200</i>
              <!-- <i class="xi-heart-o">\ea11</i>
              <i class="xi-heart">\ea10</i> -->
          </button>
        </div>
      </div>

      <div class="contents">
        <iframe width="800" height="450" src=<%= arrDatas[0][0].video_url %> frameborder="0" allowfullscreen></iframe>
        <iframe width="800" height="600" src=<%= arrDatas[0][0].pdf_url %> frameborder="0"></iframe>
    </div>

    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>
    <script>
       
    </script>
    <script src="/js/confetti.js"></script>
    <script> 
      var click = 0;
      $("#button1").click(function() {
        if (!click){
          click = 1;
          $(".like").removeClass('old-class').addClass('new-class');
        }
        else{
          click = 0;
          $(".like").removeClass('new-class').addClass('old-class')
        }

      });
    </script>
  </body>
</html>