<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/class.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Top 50</title>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">

      <div class="top">
        <div class="text-contain">
          <h1>Produce Top 50</h1></br>
          <h2>현재 가장 인기있는 프로젝트를 구경해보세요</h2>
        </div>
      </div>

      <div class="project_wrap">

        <% projectList.forEach(function(list, index){ %>
          <a href="/team/<%= list.class_name %>/<%= index+1 %>">
            <div class="project_box">
              <!-- <div class="project_con"> -->
                <div class="thumbnail">
                  <img src="/img/1.png" alt="" />
                </div>
                <div class="project_text">
                 <p>[<%= list.team_name %>] <%= list.project_name %></p>
                 <% addList.forEach(listname => { %>
                    <% if (listname.project_id == index+1) { %>
                      <p><%= listname.name %></p>
                    <% } %>
                <% }) %>

                </div>
              <!-- </div> -->
            </div>
            </a>

        <% } ) %>
      
      </div>
        

    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>

    <script>
    </script>
  </body>
</html>