<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/class.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Top 50</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  </head>
  <body>
    <header>
      <%-include ('header.ejs')%>
    </header>

    <div class="body">

      <div class="top">
        <div class="text-contain">
          <h1>Top 50</h1></br>
          <h2>관심이 가는 프로젝트를 선택해 보세요</h2>
        </div>
      </div>

      <div class="project_wrap">
         <% resultList.forEach(element => { %>
          <a href="/team/<%= element.class%>/<%= element.id %>">
            <div class="project_box">
              <div class="thumbnail">
                <img src="<%= element.thumbnail %>" alt="" />
              </div>
              <div class="project_con">
                <div class="project_text" id="project_text">
                  <h1><%= element.title %></h1>
                  <h2>[<%= element.team %>]</h2>
       
                  <h2><%= element.members %></h2>
       
                  
                </div>
                <div class="hashtag_wrap">
                  <p>#<%= element.tags %></p>
                </div>      
              </div>
            </div>
            </a>
          <% }) %>

      </div>
        
    </div>

    <footer>
      <%-include ('footer.ejs')%>
    </footer>
    <script>
    

    </script>
  </body>
</html>